
@{
    ViewData["Title"] = "ErrorInAdding";
}

<h1>ErrorInAdding</h1>
<h3>All Books are Available. There are no unavailable Books.</h3>
<br />
<a class="btn btn-success" asp-action="Index">Return To List</a>